.hero {
  padding-top: 14rem;
  background: url(../../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 1000px;

  .slides-container {
    .slide {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1.5rem;
      display: none;

      &.active {
        display: flex;
      }

      .content {
        flex: 1 1 40rem;
        animation: fadeLeft 0.4s linear 0.4s backwards;

        span {
          color: $light-color;
          font-size: 2.5rem;
        }

        h3 {
          font-size: 6rem;
          color: $black;
          padding: 0.5rem 0;
        }
      }

      .image {
        flex: 1 1 38rem;
        margin: 3rem 0;

        img {
          width: 100%;
          animation: fadeUp 0.4s linear;
        }
      }
    }
  }

  #next-slide,
  #prev-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    box-shadow: $box-shadow;
    text-align: center;
    background: $white;
    color: $black;
    cursor: pointer;
    padding: 0.9rem;
    border-radius: 4px;

    &:hover {
      background: $green;
      color: $white;
    }
  }

  #prev-slide {
    left: 2rem;
  }

  #next-slide {
    right: 2rem;
  }
}
