@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
// variables
$green: #bac34e;
$black: #222;
$white: #fff;
$light-color: #666;
$light-bg: #f3f3f3;
$border: 0.1rem solid rgba(0, 0, 0, 0.1);
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

// mixins
@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

// base
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 9%;
}

#menu-btn {
  display: none;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  background: $green;
  color: $white;
  font-size: 1.7rem;
  cursor: pointer;

  &:hover {
    background: $black;
  }
}
